body {background-color: rgba(225,125,25,0.5);}
.link{height:30px;width: 14.2%;float: left;text-align: center; background-color: rgb(125,125,125);line-height: 20px}
.link1{height:30px;width: 14.2%;float: left;text-align: center; background-color: rgb(100,100,100);line-height: 20px}
.mark{float :left;  width:50%}
.image{float : right; width:50%;line-height: 40px}
.list, .left{float : left; width:50% }
.toe{ clear:left;  }
